body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-image: url("https://keraloon.github.io/DragonQuest10FR/DQX.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004488;
  padding: 0;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
}

.button-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-button img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  width: calc(100% - 20px);
}

.main-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  padding: 0;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s;
}

.button img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button:hover {
  background-color: #0056b3;
}

.playlist-container {
  display: flex;
  padding: 20px;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

.sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 30px;
  border-right: 2px solid #ccc;
  position: fixed;
  top: 80px;
  left: 20px;
}

.theme-button {
  background-color: #444444;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

:root {
  --color1: #a08fce;
  --color2: #d6bf6f;
  --color3: #7a9acf;
  --color4: #d1b89a;
  --color5: #8ab3c9;
  --color6: #9ec3a0;
  --color7: #e4c37f;
  --color8: #a28cc7;
  --color9: #e1a65f;
  --color10: #a2d0a3;
  --color11: #2473de;
}

.sidebar .theme-button:nth-child(2) {
  background-color: var(--color1);
}

.sidebar .theme-button:nth-child(3) {
  background-color: var(--color2);
}

.sidebar .theme-button:nth-child(4) {
  background-color: var(--color3);
}

.sidebar .theme-button:nth-child(5) {
  background-color: var(--color4);
}

.sidebar .theme-button:nth-child(6) {
  background-color: var(--color5);
}

.sidebar .theme-button:nth-child(7) {
  background-color: var(--color6);
}

.sidebar .theme-button:nth-child(8) {
  background-color: var(--color7);
}
.sidebar .theme-button:nth-child(9) {
  background-color: var(--color8);
}
.sidebar .theme-button:nth-child(10) {
  background-color: var(--color10);
}
.sidebar .theme-button:nth-child(11) {
  background-color: var(--color11);
}

.sidebar .theme-button:hover {
  background-color: #333366;
  transform: scale(1.05);
}

.test0-button {
  background-color: #444488;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.test1-button {
  background-color: #555599;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.test2-button {
  background-color: #6666aa;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.test0-button:hover {
  background-color: #0066cc;
}
.test1-button:hover {
  background-color: #0066dd;
}
.test2-button:hover {
  background-color: #0066ee;
}

#theme-title {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.scrollable {
  scrollbar-width: auto;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.2);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #0056b3;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #003d80;
}

.test0-button:hover,
.random-button:hover {
  background-color: #660066;
}
.test1-button:hover,
.random-button:hover {
  background-color: #771177;
}
.test2-button:hover,
.random-button:hover {
  background-color: #882288;
}

.text-box {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-wrap: break-word;
}

.non-editable-box {
  width: 100%;
  max-width: 1000px;
  height: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  white-space: pre-line;
}

.non-editable-box::-webkit-scrollbar {
  width: 10px;
}

.non-editable-box::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.non-editable-box::-webkit-scrollbar-track {
  background: transparent;
}

.non-editable-box a {
  color: #44ddff;
  text-decoration: none;
  pointer-events: auto;
}
.non-editable-box b {
  color: #ffcc00;
  text-decoration: none;
  pointer-events: auto;
}
.non-editable-box strong {
  color: #ff00ff;
  text-decoration: none;
  pointer-events: auto;
}
